.accordion-item {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-header {
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 10px;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-content p {
    margin: 0;
  }
  